<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <h1>*|FORM_TITLE|*</h1>
                *|FORM|*
                *|RESULTS|*
            </div>
        </div>
    </div>
</body>